.efeito-vidro {
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.boas-vindas{
    height: 300px;
}
.nav{
    margin-top: 0;
    position: fixed;
    width: 100%;
}
.titles {
    font-family: 'Poppins', sans-serif;
}